<script src="../../../app.component.spec.ts"></script>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 rounded innerContainer">
    <div class="addSoundboard rounded" (click)="onClick()">DAWAJ SOUNDBOARD'A</div>
    <div class="row">Seba</div>
    <div class="row">Jackob</div>
    <div class="row">Wojtuś</div>
    <div class="row">Pajac</div>
    <div class="row">Młody</div>
    <div class="row">Niemmir</div>
    <div class="row">Inni</div>
  </div>
  <div class="col-sm-2"></div>
</div>
