<script src="../../../app.component.spec.ts"></script>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 rounded innerContainer">
    <div class="containerInContainerXD">

      <div class="row border border-secondary rounded" style="margin-bottom: 10%" *ngFor="let jugo of allJugos | paginate:{
        itemsPerPage: 6,
        currentPage: currentPageDisplay,
        totalItems: allJugos.length
      }">
        <div class="col-12 h3 font-weight-bold">{{jugo.title}}</div>
        <div class="col-12">{{jugo.videoComment}}</div>
        <div class="col-12">
          <iframe class="e2e-iframe-trusted-src" width="100%" height="600px" [src]="jugo.videoURL"></iframe>
        </div>
        <div class="col-8 dateContainer">{{jugo.createdDate.substr(0, 10)}} {{jugo.createdDate.substr(12, 7)}}</div>
        <div *ngIf="jugo.videoLikes>0" class="col-4 xdClass">
          <div class="xdClass">x</div>
          <div class="xdClass" *ngFor="let d of makeArrayOfNumbers(jugo.videoLikes)">D</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 paginationContainer">
      <pagination-controls class="text-center" (pageChange)="currentPageDisplay = $event"></pagination-controls>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
