<script src="../../../app.component.spec.ts"></script>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 rounded innerContainer">
    <div class="addMeme rounded" (click)="onClick()">DAWAJ MEMA</div>
    <div class="row" *ngFor="let mem of memyList | paginate: {
        itemsPerPage: 10,
        currentPage: currentPageDisplay,
        totalItems: memyList.length
      };">
      <div class="row oneMemeContainer rounded border border-secondary">
        <div class="col-sm-12 memeTitleContainer">
          <h4><b class = "memeTitle" [routerLink]="['../mem', mem.id]">{{mem.title}}</b></h4>
        </div>
        <div class="col-sm-12 memeImage">
          <img class="memeImageImg" [src]="pathToDir + mem.imagePath" alt="coś się zesrało"/>
        </div>
        <div class="col-sm-4 authorContainer">Autor: {{mem.author}}</div>
        <div class="col-sm-8 dateContainer">{{mem.createdDate.substr(0, 10)}} {{mem.createdDate.substr(12, 7)}}</div>
          <div class="col-sm-10 xdClass">
            <div *ngIf="mem.memeLikes>0" class="xdClass">x</div>
            <div class="xdClass" *ngFor="let d of makeArrayOfNumbers(mem.memeLikes)">D</div>
          </div>
        <div class="col-sm-2">
          <div class="xdIcon">
            xD
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-sm-12 paginationContainer">
      <pagination-controls class="text-center" (pageChange)="currentPageDisplay = $event"></pagination-controls>
    </div>
  </div>
</div>
