<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img [src]="'../../../assets/icons/klub27.ico'" width="30vh" style="margin-right: 5vh">
    <a class="navbar-brand" routerLink="pajacyzmy">Klub 27</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="showMobileNevBar = !showMobileNevBar;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="pajacyzmy">Pajacyzmy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="memy">Memy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="jugo">Jugo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="soundboard">Soundboard</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="dept">Długi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="calendar">Kalendarz</a>
        </li>
      </ul>
    </div>

    <div *ngIf="showMobileNevBar" class="navbar-collapse" id="navbarNavMobile">
      <ul class="navbar-nav text-center">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="pajacyzmy">Pajacyzmy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="memy">Memy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="jugo">Jugo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="soundboard">Soundboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="dept">Długi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="calendar">Kalendarz</a>
        </li>
      </ul>
    </div>
    <div class="mr-3">
      <div *ngIf="!isLoggedIn()">
        <a class="nav-link" aria-current="page" routerLink="login">Logowanko</a>
      </div>
      <div *ngIf="isLoggedIn()">
        <div (click)="logOut()" class="btn btn-outline-light">{{getUserNameFromToken()}}</div>
      </div>
    </div>
    <div class="mr-3 btn">
      <svg *ngIf="!christmasMode" (click)="christmasMode = true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-tree" viewBox="0 0 16 16">
        <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5zM6.437 4.758A.5.5 0 0 0 6 4.5h-.066L8 1.401 10.066 4.5H10a.5.5 0 0 0-.424.765L11.598 8.5H11.5a.5.5 0 0 0-.447.724L12.69 12.5H3.309l1.638-3.276A.5.5 0 0 0 4.5 8.5h-.098l2.022-3.235a.5.5 0 0 0 .013-.507z"/>
      </svg>
      <svg *ngIf="christmasMode" (click)="christmasMode = false" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-tree-fill text-success" viewBox="0 0 16 16">
        <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5z"/>
      </svg>
    </div>
    <app-timer27></app-timer27>
  </div>
</nav>
<div *ngIf="christmasMode">
  <app-snow></app-snow>
</div>
