<div class="modal-header">
  <h4 class="modal-title">Dodawanie mema</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table-add-meme">
    <tr *ngIf="showFileInput">
      <th class="input-add-meme-left-side">Dawaj plik<em class="text-danger">*</em></th>
      <th><input [(ngModel)]="file" type="file" name="fileToUpload" id="fileToUpload"></th>
    </tr>
    <tr>
      <td class="form-check" (change)="showFileInput = !showFileInput">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-primary" for="flexCheckDefault">
          ..aaa ja chce z linka
        </label>
      </td>
    </tr>
    <tr *ngIf="!showFileInput">
      <th class="input-add-meme-left-side">URL<em class="text-danger">*</em></th>
      <td><label>
        <input [(ngModel)]="imagePathUrl" class="input-add-meme-right-side" type="text" name="pathURL" placeholder="https://zjecie.jpg">
      </label>
      </td></tr>
    <tr>
      <td class="input-add-meme-left-side">Tytuł<em class="text-danger">*</em></td>
      <td><label>
        <input [(ngModel)]="title" class="input-add-meme-right-side" type="text" name="title" placeholder="Zdrada ma wiele obliczeń">
      </label></td>
    </tr>
    <tr>
      <td class="input-add-meme-left-side">Autor<em class="text-danger">*</em></td>
      <td><label>
        <input [(ngModel)]="author" class="input-add-meme-right-side" type="text" name="author" placeholder="najbardziej obiektywny">
      </label></td>
    </tr>
    </table>
</div>
<div class="modal-footer">
  <button *ngIf="!everythingIsOk()" (click)="warmingMessage = 'Debilu byś wypełnij wszystdkie pola, co?';" type="button" class="btn btn-success" disabled>Dodaj mema</button>
  <div *ngIf="warmingMessage != ''" class="text-danger">{{warmingMessage}}</div>
  <button *ngIf="everythingIsOk()" type="button" class="btn btn-success" (click)="activeModal.close('Close click'); submitMeme();">Dodaj mema</button>
</div>
