
.pajacyzmContent{
  text-align: center;
  padding-top: 1.5%;
}

.pajacyzmAuthor{
  text-align: right;
  font-weight: bold;
}

.pajacyzmDate{
  text-align: center;
}

.pajacyzmIconSee{
  text-align: center;
}

hr{
  border: 1px solid grey;
  width: 100%;
}

.clickOnPajacyzm:hover{
  color: white;
  cursor: pointer;
}

.pajacyzmInput{
  text-align: right;
}

.pajacyzmInputPajacyzm{
  text-align: left;
  width: 180%;
}

.buttonContainer{
}


.innerContainer{
  padding-top: 1%;
}

.pajacyzmInputPajacyzmAuthor{
  height: 100%;
  width: 100%;
}

.submitConfirm{
  margin-left: 45%;
}

.paginationContainer{
  text-align: center;
  margin-top: 1%;
  color: black;
}
