<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 rounded innerContainer">

    <div *ngIf="!displaySend" class="row">
      <div class="col-4"></div>
      <div class="col-4">

        <div class="row">
          <div class="col-12">
            <label>
              <textarea [(ngModel)]="pajacyzmContent" class="pajacyzmInputPajacyzm" placeholder="Valo najlepsze"></textarea>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-7">
            <label>
              <input [(ngModel)]="pajacyzmAuthor" type="text" class="pajacyzmInputPajacyzmAuthor" placeholder="Najbardziej obiektywny"/>
            </label>
          </div>
          <div class="col-sm-5 buttonContainer">
            <div (click)="showReason('Wpisz pajacyzm i autora klałnie')">
              <button *ngIf="!areAllFillIn()" type="button" class="btn btn-sm btn-success" disabled>Dodaj pajacyzm</button>
            </div>
            <div *ngIf="!canBeSend" class="text-danger">{{showReasonText}}</div>
            <button *ngIf="areAllFillIn()" (click)="sendPajacyzm();" type="button" class="btn btn-sm btn-success">Dodaj pajacyzm</button>
          </div>
        </div>

        <div *ngIf="areAllFillIn()" class="row">
          <div class="col-12">
            <ngx-recaptcha2 #captchaElem
                            [siteKey]="siteKey"
                            (success)="canBeSend = true;">
            </ngx-recaptcha2>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>

    <div  *ngIf="displaySend" class="submitConfirm">
      <div class="row text-success">
        Dodano pajacyzm!
      </div>
      <div class="row text-success">
        <button type="button" class="btn btn-primary" (click)="refreshPage()">Odświerz stronę</button>
      </div>
    </div>

    <div class="row" *ngFor="let pajacyzm of pajacyzmyList | paginate: {
        itemsPerPage: 10,
        currentPage: currentPageDisplay,
        totalItems: allPajacyzmy
      };">
      <hr>
      <div class="col-sm-12 pajacyzmContent">
        <h4><b class = "clickOnPajacyzm" [routerLink]="['../pajacyzm', pajacyzm.id]">"{{pajacyzm.content}}"</b></h4>
      </div>
      <div class="col-sm-7 pajacyzmIconSee"></div>
      <div class="col-sm-3 pajacyzmAuthor">
        ~ {{pajacyzm.author}}
      </div>
      <div class="col-sm-2 pajacyzmDate">
        {{pajacyzm.createdDate.substr(0, 10)}}
      </div>
    </div>
    <div class="col-sm-12 paginationContainer">
      <pagination-controls class="text-center" (pageChange)="currentPageDisplay = $event; getAllPajacyzmy(currentPageDisplay)"></pagination-controls>
    </div>
  </div>
  <div class="col-sm-2"></div>


</div>
