<video id="bgVideo" playsinline preload="true" autoplay loop muted poster="">
    <source src="../../../assets/images/template.mp4" type="video/mp4" /> 
 </video>
<div class="row d-flex justify-content-center">
    <div class="rounded">
      <div class="row">
        <div class="col-12 text-light rounded mt-4 h2 text-center elections">
            Władza Klubu 27<br>
            <b>Jackob Kovalski</b>
            <div class="h5 text-left mt-5">
                <b>Uprawnienia prezydenta:</b>
                <li>powoływanie nowych członków grupy</li>
                <li>ogłaszanie referendów w celu ustalenia nowych zakazów lub ich zniesienia</li>
                <li>posiadanie admina TeamSpeak oraz grupy FB</li>
                <li>posiadanie nicku "Prezydent Klubu 27"</li>
                <li>nakazywanie zebranie ludzi na granie osobom trzecim</li>
                <li>egzekwowanie zapłacenia kar</li>
            </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
  