.innerContainerMem{
  padding-top: 2%;
}

.oneMemeContainer{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.xdClass{
  display: inline-block;
  text-align: left;
  font-size: xx-large;
  font-weight: bold;
  vertical-align: middle;
}

.memeImageImg{
  width: 100%;
}

.memeImage{
  width: 100%;
}

.oneMemeContainer{
  margin-top: 4%;
  background: radial-gradient(circle, rgba(255,255,255,0.8) 100%, rgba(255,255,255,0) 100%);
  width: 100%;
  padding-bottom: 2%;
}

.memeTitleContainer{
  margin-bottom: 1.5%;
  margin-top: 1.5%;
}

.authorContainer{
  margin-top: 1%;
  text-align: left;
  font-weight: bold;
  font-size: large;
}

.dateContainer{
  margin-top: 1%;
  text-align: right;
}

.oneCommentBox{
  display: inline-block;
  text-align: left;
}

.commentBox{
  padding-top: 2%;
}

.commentContent{
  height: 38px;
}

.wrapClass{
  word-wrap: break-word;
}
