<script src="../../app.component.spec.ts"></script>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 rounded innerContainer">
    <div class="addSoundboard rounded" (click)="onClick()">DAWAJ SOUNDBOARD'A</div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 playerBox rounded">
        <ngx-audio-player [playlist]="msaapPlaylist"
                          [autoPlay]="false"
                          [displayRepeatControls]="true"
                          [displayTitle]="true"
                          [disablePositionSlider]="false"
                          [displayPlaylist]="false"
                          [displayVolumeControls]="true"
                          [displayArtist]="msaapDisplayArtist"
                          [displayDuration]="true">
        </ngx-audio-player>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-12 font-weight-bold">
        <hr>
        Seba
        <br>
        <div class="d-inline-block" *ngFor="let soundboard of sebaList; let index=index;">
          <button class="btn btn-outline-primary rounded soundButton" (click)="playThisSoundboard(soundboard)">{{soundboard.title}}</button>
        </div>
      </div>
      <div class="col-sm-12 font-weight-bold">
        <hr>Jackob
        <br>
        <div class="d-inline-block" *ngFor="let soundboard of jackobList; let index=index;">
          <button class="btn btn-outline-primary rounded soundButton" (click)="playThisSoundboard(soundboard)">{{soundboard.title}}</button>
        </div>
      </div>
      <div class="col-sm-12 font-weight-bold">
        <hr>Wojtuś
        <br>
        <div class="d-inline-block" *ngFor="let soundboard of wojtusList; let index=index;">
          <button class="btn btn-outline-primary rounded soundButton" (click)="playThisSoundboard(soundboard)">{{soundboard.title}}</button>
        </div>
      </div>
      <div class="col-sm-12 font-weight-bold">
        <hr>Pajac
        <br>
        <div class="d-inline-block" *ngFor="let soundboard of pajacList; let index=index;">
          <button class="btn btn-outline-primary rounded soundButton" (click)="playThisSoundboard(soundboard)">{{soundboard.title}}</button>
        </div>
      </div>
      <div class="col-sm-12 font-weight-bold">
        <hr>Młody
        <br>
        <div class="d-inline-block" *ngFor="let soundboard of mlodyList; let index=index;">
          <button class="btn btn-outline-primary rounded soundButton" (click)="playThisSoundboard(soundboard)">{{soundboard.title}}</button>
        </div>
      </div>
      <div class="col-sm-12 font-weight-bold">
        <hr>Niemmir
        <br>
        <div class="d-inline-block" *ngFor="let soundboard of niemmirList; let index=index;">
          <button class="btn btn-outline-primary rounded soundButton" (click)="playThisSoundboard(soundboard)">{{soundboard.title}}</button>
        </div>
      </div>
      <div class="col-sm-12 font-weight-bold">
        <hr>Debata
        <br>
        <div class="d-inline-block" *ngFor="let soundboard of debataList; let index=index;">
          <button class="btn btn-outline-primary rounded soundButton" (click)="playThisSoundboard(soundboard)">{{soundboard.title}}</button>
        </div>
      </div>
      <div class="col-sm-12 font-weight-bold">
        <hr>Inni
        <br>
        <div class="d-inline-block" *ngFor="let soundboard of inniList; let index=index;">
          <button class="btn btn-outline-primary rounded soundButton" (click)="playThisSoundboard(soundboard)">{{soundboard.title}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
