<head>
    <title>Register</title>
</head>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 rounded innerContainer">
        <div class="wrapper fadeInDown zero-raduis">
        <div id="formContent">
            <h2 class="my-5 text-center">Rejestrowanko</h2>
            </div>

            <!-- Register Form -->
            <form class="was-validated">
            <div class="container">
                <div class="row justify-content-center">
                    <div [ngClass]="{'col-4': !mobileSize}">
                        <label class="form-label" for="username">Nazwa użytkownika:</label>
                        <input type="text" [(ngModel)]="userModel.username" id="username" class="form-control" name="username" placeholder="nazwa" required>
                        <div class="invalid-feedback">
                            Jak się zwiesz?
                        </div>
                        <div class="text-danger">{{errorMessage}}</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div [ngClass]="{'col-4': !mobileSize}">
                        <label class="form-label" for="password">Hasło:</label>
                        <input type="password" [(ngModel)]="userModel.password" id="password" class="form-control" name="password" placeholder="(najlepiej takie samo jak do banku)" required>
                    </div>
                </div>
                <div *ngIf="userModel.password != null" class="row justify-content-center">
                    <div [ngClass]="{'col-4': !mobileSize}">
                        <label class="form-label" for="password2"></label>
                        <input type="password" [(ngModel)]="firstPassRepeat" id="password2" class="form-control" name="password2" placeholder="powtórz hasło" required>
                    </div>
                </div>
                <div *ngIf="firstPassRepeat != null" class="row justify-content-center">
                    <div [ngClass]="{'col-4': !mobileSize}">
                        <label class="form-label" for="password3"></label>
                        <input type="password" [(ngModel)]="secoundPassReapat" id="password3" class="form-control" name="password3" placeholder="a powtórz jeszcze raz xD" required>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class=" text-center" [ngClass]="{'col-4': !mobileSize}">
                        <button *ngIf="!showLoading && !checkEverything()" class="btn btn-primary btn-lg fourth" disabled>Załuż konto</button>
                        <button *ngIf="!showLoading && checkEverything()" (click)="register()" type="submit" class="btn btn-primary btn-lg fourth">Załuż konto</button>
                        <button *ngIf="showLoading" class="btn btn-outline-primary disabled">Dołączanie do przegrywu... <br>
                            <div class="spinner-border text-primary m-auto" role="status">
                                <span class="sr-only">>Dołączanie do przegrywu... </span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            </form>
            <br><br>
        </div>
    </div>
</div>
